<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List</title>
</head>
<body>
    <div class="box" id="heading">
        <h1><span class="date"></span><br><%=KindOfDay%>'s List</h1>
    </div>
    <form action="/delete" method="post">
    <div class="box">
        <%itemarr.forEach((item)=>{%>
        <div class="item">
            
            <input type="checkbox" name="checkbox" value="<%=item._id%>" onchange="this.form.submit()">
            <p><%=item.name%></p>
            
        </div>
        <%})%>
        <input type="hidden" name="check_id" value="<%=KindOfDay%>">
    </form>

        <form action="/" method="post" class="item">
            <input type="text" name="NewItem" placeholder="Add New Item" autocomplete="off">
            <button type="submit" name="list", value="<%=KindOfDay%>">+</button>
        </form>
    </div>

    <script src="js/index.js"></script>
</body>
</html>